---
---
@sans: "Open Sans", "Myriad Pro", Verdana, sans-serif;
@serif: Merriweather, Georgia, serif;

body {
    font-family: @sans;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: @sans;
    font-weight: 900;
}
a {
    text-decoration: none;
}

.center {
    min-width: 400px;
    max-width: 700px;
    width: 95%;
    margin: 0 auto;
}
.nowrap {
    white-space: nowrap;
}

.header {
    margin-bottom: 2em;
    .site-title {
        font-family: @sans;
        color: black;
    }
    .twitter {
        float: right;
    }
}

.intro {
    font-size: 24px;
    line-height: 120%;
    color: #999;
    font-weight: 400;
}
.posts {
    li {
        margin-bottom: 0.3em;
        line-height: 120%;
        .tags {
            font-size: 80%;
            color: #999;
        }
    }
}

.top-image {
    max-width: 100%;
    height: auto;
    margin: 2em 0 1em;
}
.titles {
    margin: 0 0 2.5em;
}
.datestamp {
    color: #999;
    font-size: 50%;
    font-weight: 400;
    white-space: nowrap;
}
.post-title {
    margin-top: 0;
    line-height: 115%;
}
.post-subtitle {
    line-height: 130%;
    font-weight: 500;
    margin-top: -1em;
}
.post-content {
    h3 {
        margin-top: 2em;
    }
}