extends layout

block body
  div.container.home-container

    div.home-about.col.half
      h3.home-section-header about me
      != content

    div.home-recent-posts.col.half.end
      h3.home-section-header some blog posts

      - posts.reverse()
      - posts = posts.slice(0, 3)
      
      include includes/postlist.jade

      - posts.reverse()
      p
        a(href="/blog") Read all posts