doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    block title
      title rhodesjason dot com

    meta(name='description', content='A site for a rhodesjason')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='icon' type='image/png' href='/assets/images/hypercard.png')
    
    block styles
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900,400italic')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic')
      link(rel='stylesheet', href='/assets/css/style.css')

  body

    block header
      header
        span.logo rhodesjasondotcom
        span.nav
          a(href='/')= 'home'
          sep | 
          a(href='/blog')= 'blog'

    block body
      p this is just a rhodesjasondotcom

    script#postList(type='text/data')
        != JSON.stringify(posts || [])

    block scripts
      script(src='/assets/js/site.js')

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');