extends ./default.jade

block page_title
  title= "i am rhodesjason"

block content

  div!= contents

  ul.post-list
    each p in posts
      - var skipSummary = true;
      include ./includes/teaser.jade
