extends ./default.jade

block page_title
  title= "posts by rhodesjason"

block content

  if (contents)
    div!= contents

  h1= "Blog"
  ul.post-list
    each p in posts
      include ./includes/teaser.jade
